<!doctype html>
<html><head>
    <meta charset="utf-8">
    <title>ML Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="{% static '/Demo/bootstrap/css/bootstrap.min.css' %}" />
    <link href="{% static '/Demo/css/table.css' %}" rel="stylesheet">
    <link href="{% static '/Demo/css/main.css' %}" rel="stylesheet">
    <link href="{% static '/Demo/css/font-style.css' %}" rel="stylesheet">
    <link href="{% static '/Demo/css/register.css' %}" rel="stylesheet">


	<script type="text/javascript" src="{% static '/Demo/js/jquery.js' %}"></script>    
    <script type="text/javascript" src="{% static '/Demo/bootstrap/js/bootstrap.min.js' %}"></script>
     <script type="text/javascript" src="{% static '/Demo/js/admin.js' %}"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
      }
      #progressbar-outer {
    height:2em;
    border:5px solid #000;
    width:15em;
}
#progressbar {
    width:0%;
    background-color:#F00;
    height:100%;
}
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
  	<!-- Google Fonts call. Font Used Open Sans & Raleway -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
  	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
	</head>
  <body>

  	<!-- NAVIGATION MENU -->

    <div class="navbar-nav navbar-inverse navbar-fixed-top">
        <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/Demo/Home/">Cognitive Computing Suite</a>
        </div> 
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
       
             <li><a href="/Demo/Demo_page_load_cls/"><i class="icon-home icon-white"></i>Redaction Service</a></li>

              

            </ul>
          </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">
        <div class="row">


            <form action="/Demo/predict_file/" method="POST" enctype="multipart/form-data">
            <div class="col-lg-5">
            
            <div class="col-lg-12">
            <div class="register-info-wraper">
              <div id="register-info">
                <div class="cont2">
                  <!-- /thumbnail -->
              <h2>Upload Email (*.eml) file</h2>
                </div>
                <!-- /inner row -->
            <hr>
            
              {% csrf_token %}
            <div class="cont2">
              <input type="file" id="file"  class="btnnew" required name="myfile"/>
              <br><br><br><br><br><br>
              <button type="submit" onclick = "show();" id="upbtn" class="btn btn-success">Upload</button>

              <br><br><br><br><br><br><br><br><br>
        <br><br><br>
              <h5 id="msg_err" style="color:red;">{{ err_msg }}</h5>
           
            

                
              </div>

         


            <br>
            

                
              </div>
         
          
            </div>
          </div>

        <div class="col-lg-12">
            <div class="register-info-wraper">
              <div id="register-info">
                <div class="cont2">
              <h2>result</h2>
                </div>
            <hr>
           
              {% csrf_token %}
              <div class="container">
           <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="col-lg-8">
<div class="cont3">
                     <h6> <p><ok style="display:show" id="mssg1">{{ result }}</ok> </p></h6>
                    </div>

         </div>
         
         </div>
       </div>
     </div>
</div>    
              </div>   
              </div>

            </div>

<div class="col-lg-7">
  <div class="col-lg-12">
            <div class="register-info-wraper">
              <div id="register-info">
                <div class="cont2">
                  <!-- /thumbnail -->
              <h5 style="color:white; float:left;">From</h5>
               
                </div>
             
              {% csrf_token %}
            <div class="cont2">
              <div class="row">
                   <div class="col-lg-12">
                       <hr> 
                    <div class="cont3">
                     <h6> <p><ok style="display:show" id="mssg1"> {{ from }}</ok> </p></h6>
                    </div>
                    </div>
                </div> 
              </div>  
              </div>
            </div>
            </div>
<div class="col-lg-12">
            <div class="register-info-wraper">
              <div id="register-info">
                <div class="cont2">
                  <!-- /thumbnail -->
              <h5 style="color:white; float:left;">To</h5>
                </div>
             
              {% csrf_token %}
            <div class="cont2">
              <div class="row">
                   <div class="col-lg-12">
                    <hr> 
                    <div class="cont3">
          
                     <h6> <p><ok style="display:show" id="mssg1">{{ to }}</ok> </p></h6>
         
                    </div>
                    </div>
                </div> 
              </div>  
              </div>
            </div>
            </div>
<div class="col-lg-12">
            <div class="register-info-wraper">
              <div id="register-info">
                <div class="cont2">
                  <!-- /thumbnail -->
              <h5 style="color:white; float:left;">Subject</h5>
                </div>
           
              {% csrf_token %}
            <div class="cont2">
              <div class="row">
                   <div class="col-lg-12">
                    <hr> 
                    <div class="cont3">
             
                     <h6> <p><ok style="display:show" id="mssg1"> {{ subject }}</ok> </p></h6>
              
                    </div>
                    </div>
                </div> 
              </div>  
              </div>
            </div>
            </div>
            <div class="col-lg-12">
            <div class="register-info-wraper">
              <div id="register-info">
                <div class="cont2">
                  <!-- /thumbnail -->
              <h5 style="color:white; float:left;">Messsage</h5>
                </div>
              
              {% csrf_token %}
            <div class="cont2">
              <div class="row">
                   <div class="col-lg-12">
                    <hr> 
                    <div class="cont3">
   
                     <h6> <p><ok style="display:show" id="mssg1">{{body|safe}} </ok> </p></h6>
                    </div>
                    </div>
                </div> 
              </div>  
              </div>
            </div>
            </div>

          </div>
 </form>

            

      
            </div>
            </div>
           

        	


      

	<div id="footerwrap">
      	<footer class="clearfix"></footer>
      	<div class="container">
      		<div class="row">
      			<div class="col-sm-12 col-lg-12">
      			<p><img width="150" height="130" src="{% static '/Demo/images/Robotics_Logo.png' %}" alt="loading"/></p>
      			<p></p>
      			</div>

      		</div><!-- /row -->
      	</div><!-- /container -->		
	</div><!-- /footerwrap -->  
</body>

</html>